<p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<%= link_to "Create new note", new_note_path %>

<div id="notes">
  <% @notes.each do |note| %>
    <%= render note %>
    <p>
      <%= link_to "Show this note", note %>
    </p>
  <% end %>
</div>


